body,
html {
  margin: 0; }

body {
  font-family: sans-serif; }

*,
*:after {
  box-sizing: border-box; }

#app {
  display: flex;
  height: 100vh; }

.player-controls {
  flex: 2;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: #eee; }
  .player-controls [id*="selection-"] {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border: 1px solid #aaa;
    margin: 1rem;
    cursor: pointer;
    background: #fff;
    text-align: center; }
    .player-controls [id*="selection-"].disabled {
      user-select: none;
      opacity: .2;
      cursor: default; }

.game-board {
  flex: 6;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: #fafafa; }

.score-board {
  margin: 1rem;
  text-align: center; }
  .score-board .score-label {
    font-weight: 600; }

#tic-tac-grid {
  margin: 1rem 1rem 2rem;
  position: relative; }
  #tic-tac-grid div {
    user-select: none;
    width: 10rem;
    height: 10rem;
    border: 1px solid #aaa;
    background: #fff;
    margin: .25rem;
    float: left;
    text-align: center;
    font-size: 6.5rem;
    line-height: 10rem;
    cursor: default; }
    #tic-tac-grid div.active {
      background: #ccc; }
    #tic-tac-grid div:nth-child(3n+1) {
      clear: both; }
  #tic-tac-grid[class*="winner-0"] > div:nth-child(1) {
    background: red; }
  #tic-tac-grid[class*="winner-0"] > div:nth-child(2) {
    background: red; }
  #tic-tac-grid[class*="winner-0"] > div:nth-child(3) {
    background: red; }
  #tic-tac-grid[class*="winner-1"] > div:nth-child(4) {
    background: red; }
  #tic-tac-grid[class*="winner-1"] > div:nth-child(5) {
    background: red; }
  #tic-tac-grid[class*="winner-1"] > div:nth-child(6) {
    background: red; }
  #tic-tac-grid[class*="winner-2"] > div:nth-child(7) {
    background: red; }
  #tic-tac-grid[class*="winner-2"] > div:nth-child(8) {
    background: red; }
  #tic-tac-grid[class*="winner-2"] > div:nth-child(9) {
    background: red; }
  #tic-tac-grid[class*="winner-3"] > div:nth-child(1) {
    background: red; }
  #tic-tac-grid[class*="winner-3"] > div:nth-child(4) {
    background: red; }
  #tic-tac-grid[class*="winner-3"] > div:nth-child(7) {
    background: red; }
  #tic-tac-grid[class*="winner-4"] > div:nth-child(2) {
    background: red; }
  #tic-tac-grid[class*="winner-4"] > div:nth-child(5) {
    background: red; }
  #tic-tac-grid[class*="winner-4"] > div:nth-child(8) {
    background: red; }
  #tic-tac-grid[class*="winner-5"] > div:nth-child(3) {
    background: red; }
  #tic-tac-grid[class*="winner-5"] > div:nth-child(6) {
    background: red; }
  #tic-tac-grid[class*="winner-5"] > div:nth-child(9) {
    background: red; }
  #tic-tac-grid[class*="winner-6"] > div:nth-child(1) {
    background: red; }
  #tic-tac-grid[class*="winner-6"] > div:nth-child(5) {
    background: red; }
  #tic-tac-grid[class*="winner-6"] > div:nth-child(9) {
    background: red; }
  #tic-tac-grid[class*="winner-7"] > div:nth-child(3) {
    background: red; }
  #tic-tac-grid[class*="winner-7"] > div:nth-child(5) {
    background: red; }
  #tic-tac-grid[class*="winner-7"] > div:nth-child(7) {
    background: red; }
  #tic-tac-grid:after {
    content: ' ';
    display: table;
    clear: both; }

#new-round {
  margin: 1rem; }

#message {
  margin: 0 0 1rem; }
