body,
html {
  margin: 0; }

body {
  color: #000; }

*,
*:after {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box; }

#app {
  display: flex;
  height: 100vh;
  position: relative; }

.title {
  flex: 2 1 8rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  font-weight: 900;
  font-size: 6rem;
  line-height: 5rem;
  padding: 3rem;
  text-transform: uppercase; }

.player-controls {
  flex: 2 1 14rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  background: #ffc2c2; }
  .player-controls [id*="selection-"] {
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    font-weight: 900;
    font-size: 8rem;
    margin: 1rem;
    cursor: pointer;
    text-align: center;
    background: transparent; }
    .player-controls [id*="selection-"].disabled {
      user-select: none;
      opacity: .2;
      cursor: default; }

.game-board {
  flex: 6 1 40rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  background: #fff; }
  .game-board .score-board {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    text-align: center; }
    .game-board .score-board .score-container {
      padding: 1rem;
      font-size: 2rem;
      font-weight: 900; }

#tic-tac-grid {
  background: black;
  padding: 1rem 0 0 1rem;
  margin: 1rem 1rem 2rem;
  position: relative; }
  #tic-tac-grid div {
    user-select: none;
    width: 10rem;
    height: 10rem;
    background: #fff;
    margin: 0;
    float: left;
    text-align: center;
    font-weight: 900;
    font-size: 6.5rem;
    line-height: 10rem;
    cursor: default;
    margin: 0 1rem 1rem 0; }
    #tic-tac-grid div.active {
      background: #ffc2c2; }
    #tic-tac-grid div:nth-child(3n+1) {
      clear: both; }
  #tic-tac-grid[class*="winner-0"] > div:nth-child(1) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-0"] > div:nth-child(2) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-0"] > div:nth-child(3) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-1"] > div:nth-child(4) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-1"] > div:nth-child(5) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-1"] > div:nth-child(6) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-2"] > div:nth-child(7) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-2"] > div:nth-child(8) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-2"] > div:nth-child(9) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-3"] > div:nth-child(1) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-3"] > div:nth-child(4) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-3"] > div:nth-child(7) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-4"] > div:nth-child(2) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-4"] > div:nth-child(5) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-4"] > div:nth-child(8) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-5"] > div:nth-child(3) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-5"] > div:nth-child(6) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-5"] > div:nth-child(9) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-6"] > div:nth-child(1) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-6"] > div:nth-child(5) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-6"] > div:nth-child(9) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-7"] > div:nth-child(3) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-7"] > div:nth-child(5) {
    background: #000;
    color: #fff; }
  #tic-tac-grid[class*="winner-7"] > div:nth-child(7) {
    background: #000;
    color: #fff; }
  #tic-tac-grid:after {
    content: ' ';
    display: table;
    clear: both; }

#new-round {
  margin: 1rem 1rem 4rem;
  padding: .5rem 0;
  border: none;
  background: transparent;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 1.2rem;
  cursor: pointer; }
  #new-round:focus {
    outline: none; }
  #new-round:hover {
    outline: none;
    border: solid black;
    padding-bottom: .25rem;
    border-width: 0 0 .25rem 0; }
  #new-round:active {
    border-bottom-color: rgba(0, 0, 0, 0.5); }

#message {
  padding: 1rem;
  margin: 0 0 1rem;
  font-weight: 600;
  font-size: 2rem; }
