body,
html {
  margin: 0;
}

body {
  color: #000;
}

*,
*:after {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;;
}

// User selection pane
$selection-width: 8rem;
$selection-height: 8rem;

// Player control colors
$player-control-background: #ffc2c2;

// Tic tac grid size
$tic-tac-grid-width: 10rem;
$tic-tac-grid-height: 10rem;

// Tic tac grid colors
$tic-tac-grid-background: #fff;
$tic-tac-grid-background-active: $player-control-background;

// Gameboard colors
$game-board-background: #fff;

// Styles for individual grid blocks
@mixin tic-tac-grid {
  div {
    user-select: none;
    width: $tic-tac-grid-width;
    height: $tic-tac-grid-height;
    background: $tic-tac-grid-background;
    margin: 0;
    float: left;
    text-align: center;
    font-weight: 900;
    font-size: $tic-tac-grid-height * .65;
    line-height: $tic-tac-grid-height;
    cursor: default;
    margin: 0 1rem 1rem 0;
    &.active {
      background: $tic-tac-grid-background-active;
    }
    &:nth-child(3n+1) {
      clear: both;
    }
  }
}

@mixin user-selection {
  [id*="selection-"] {
    width: $selection-width;
    height: $selection-height;
    line-height: $selection-height;
    font-weight: 900;
    font-size: $selection-height;
    margin: 1rem;
    cursor: pointer;
    text-align: center;
    background: transparent;

    &.disabled {
      user-select: none;
      opacity: .2;
      cursor: default;
    }
  }
}

@mixin score-board {
  .score-board {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    text-align: center;

    .score-container {
      padding: 1rem;
      font-size: 2rem;
      font-weight: 900;
    }

    .score-label {

    }
  }
}

@mixin winner-highlight {
  // Winning combinations
  $winner-combo: ('0': (1,2,3), '1': (4,5,6), '2': (7,8,9), '3': (1,4,7), '4': (2,5,8), '5': (3,6,9), '6': (1,5,9), '7': (3,5,7));

  @each $key, $combo in $winner-combo {
    &[class*="winner-#{$key}"] {
      >div:nth-child(#{nth($combo, 1)}) {
        background: #000;
        color: #fff;
      }
      >div:nth-child(#{nth($combo, 2)}) {
        background: #000;
        color: #fff;
      }
      >div:nth-child(#{nth($combo, 3)}) {
        background: #000;
        color: #fff;
      }
    }
  }
}

#app {
  display: flex;
  height: 100vh;
  position: relative;
}

.heading {
  flex: 2 1 8rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 6rem;
  line-height: 5rem;
  padding: 3rem;
  text-transform: uppercase;
  .title {
    flex: 1 1 auto;
  }
  .cite {
    flex: 0 1 auto;
    font-size: .8rem;
    line-height: 1.4rem;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #aaa;
    a {
      color: rgba(black, .6);
      text-decoration: none;
      &:hover,
      &:focus {
        color: #000;
      }
    }
  }
}

.player-controls {
  @include user-selection;
  flex: 2 1 14rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  background: $player-control-background;
}

.game-board {
  @include score-board;
  flex: 6 1 40rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  min-width: 40rem;
  background: $game-board-background;
}

#tic-tac-grid {
  @include tic-tac-grid;
  @include winner-highlight;
  background: black;
  padding: 1rem 0 0 1rem;
  margin: 1rem 1rem 2rem;
  position: relative;

  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

#new-round {
  margin: 1rem 1rem 4rem;
  padding: .5rem 0;
  border: none;
  background: transparent;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 1.2rem;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    outline: none;
    border: solid black;
    padding-bottom: .25rem;
    border-width: 0 0 .25rem 0;
  }
  &:active {
    border-bottom-color: rgba(black, .5);
  }
}

#message {
  padding: 1rem;
  margin: 0 0 1rem;
  font-weight: 600;
  font-size: 2rem;
}

